*
!user_empire_designs_v3.4.txt
!README.md
!.gitignore
!flake.nix
!flake.lock
!*.nix
!tooling/*
!*.rs
!tooling
!datei.csv
!ethics_combinations_report.csv
!origins_report.csv
!portraits_report.csv
!initializers_report.csv